div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3C94A556-A8AE-462F-8F7E-C36E16ACE731"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="2ECB180A-9273-485F-98C6-32AAB76979D2"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="206BCB01-A450-40B9-AFDC-FD80AEA515D6"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="87CBE5FB-A964-4758-990C-64BEC250849A"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="46598EAD-55F6-4119-9D94-8791F8A6A6DB"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6674AAC0-BD0B-4541-A3C0-FA09535D3553"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="40D72829-DC15-47C7-9008-CB3070DB70EE"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="E73C7D7C-C409-4E86-9F14-CF6EA9A23CE0"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="EAB90A50-240C-4606-BA4E-38C896AF2125"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="0347B9B6-D030-4571-A12D-984A7E9EB8DF"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="4CC4A5DD-4314-428E-ABDA-53F56C66EC55"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5C8A2177-FA2E-4B5F-853F-A3A31302A833"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="33AF8DA2-7B96-431A-A3F9-037955CA8DC7"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="974FA5F3-17F8-4101-AA9E-D4E4DCD01A17"] > div > div > div > video,
.mobileV div[data-id="88146F21-A3D9-499A-8C6E-A27DFF05504E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="323AA373-C7A4-449A-853B-146AC5F11250"][data-specific-kind="TEXT"],
div[data-id="688740D9-D98F-4C08-9CA2-169DEC245591"][data-specific-kind="TEXT"],
div[data-id="A7767229-1668-4FD4-9B8A-1FA089325EF4"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6B4ECD29-58FF-4BC3-B75B-8050E84CED6E"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="6B4ECD29-58FF-4BC3-B75B-8050E84CED6E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="32E745A1-E5A0-462E-9679-6BABC58183E5"][data-specific-kind="TEXT"],
div[data-id="972C26B2-6834-4AFE-A1BA-15C89E6F72F3"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6597AE1B-C84D-4A1F-B763-E40F5E9B50CF"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="6597AE1B-C84D-4A1F-B763-E40F5E9B50CF"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="8B6B36CF-C8EA-4C9E-A471-71D0F9E4214A"][data-specific-kind="TEXT"],
div[data-id="DB61FA4D-9477-43EF-9A48-0CC8B744D1EE"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="DA72B126-9BB4-448D-BB4C-21AE2C63A7D5"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="DA72B126-9BB4-448D-BB4C-21AE2C63A7D5"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="630B37CF-C4EA-4EFB-AE00-42CF163335A7"][data-specific-kind="TEXT"],
div[data-id="990672E6-BC81-4466-9CEF-68172E64F8A1"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="48971FBA-022E-4113-ABAD-6ED02A9A9FC7"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="48971FBA-022E-4113-ABAD-6ED02A9A9FC7"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="4879C673-9CDA-4C83-80C1-B0E508F60E74"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="4879C673-9CDA-4C83-80C1-B0E508F60E74"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="73834BA6-8D27-40E4-9B66-BEA78ECD02E6"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="48DBDF06-C122-4E06-8272-7D10CEF019E8"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="1D235CFC-C9D1-49A6-BD78-944D98DDB93E"] > div > div > div > video,
.mobileV div[data-id="48DBDF06-C122-4E06-8272-7D10CEF019E8"] > div > div > div > video,
.mobileV div[data-id="59445F1B-9FE8-4FF1-9171-7BC592B77564"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
