div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="82FF5ABD-54EB-4289-A3BE-3AAA3375E44D"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="D9366100-61D4-44B8-A867-026D1CAFD270"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="B4BE7B5C-FBC2-4795-B4A8-C442F9C2C12E"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="CC181B8E-B812-4641-A18F-F294E159A9ED"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="FB86895D-FEFF-4DDF-89FB-6510AE8CBE37"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="EF7604A1-BCB1-4D8E-B980-B7489C04F03A"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="03B264E8-630D-4A5C-B418-FFCF8D02793C"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6B05A1B2-B312-4556-BCE4-4D17832ADA5D"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="5B4BC805-0C32-48BC-BC5D-5911C202E3D7"][data-specific-kind="TEXT"],
div[data-id="5E390F93-2E2C-46DD-9AAD-0E5779CB0B00"][data-specific-kind="TEXT"],
div[data-id="29CA534D-5C1E-40D6-8577-F40FC4FBB9F2"][data-specific-kind="TEXT"],
div[data-id="B737A8EA-D1EA-4FBC-9147-5F01CEE6F53D"][data-specific-kind="TEXT"],
div[data-id="D6BE60F6-5AB9-480C-8C22-4BBDAA675CA0"][data-specific-kind="TEXT"],
div[data-id="D8C83A1A-ECF7-4725-B129-EAA751AB6D5F"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="E96C73B4-B040-4CE5-9FFF-885566E61433"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="9CB0E3E3-A210-4F8F-BC87-2E9DD049925B"][data-specific-kind="TEXT"],
div[data-id="9562B577-FA02-47AE-BE5F-FFFBC6625A57"][data-specific-kind="TEXT"],
div[data-id="F6F2577C-ADFC-4522-8D16-3200F1444655"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="ADCD914B-69D1-4A05-8C9C-2E4F7B76A597"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="ADCD914B-69D1-4A05-8C9C-2E4F7B76A597"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="C68F16BA-83A6-4250-918C-EFC966EE80C3"][data-specific-kind="TEXT"],
div[data-id="EF4C7BA7-8503-493C-8D2E-48E3DFB2CFCC"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="43025D8C-BAF8-4BF1-A4F1-66DC18F20C3B"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="43025D8C-BAF8-4BF1-A4F1-66DC18F20C3B"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="70A2EF35-EBBE-4BF4-AE4D-626113677645"][data-specific-kind="TEXT"],
div[data-id="737DE772-481E-4F0B-AD85-667AA17636E7"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="32391A5C-11D4-4460-A3FB-63BDFF59B473"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="32391A5C-11D4-4460-A3FB-63BDFF59B473"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="29B75196-A4F5-4EB7-99F0-B72C6A3229DE"][data-specific-kind="TEXT"],
div[data-id="407C79CB-5AF7-480B-8B37-DC1564229712"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="0DFCB178-FAE0-4D0F-8BE1-5329AE76FE36"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="0DFCB178-FAE0-4D0F-8BE1-5329AE76FE36"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="A77B9BD4-8EDD-41E6-874E-5BF1ACA8277A"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="A77B9BD4-8EDD-41E6-874E-5BF1ACA8277A"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="2DAA4C08-4DE0-4158-B997-B8B74BE3DF63"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="06164199-E55D-482F-BB2F-B863BCC3A841"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="1EB0616D-F21B-4FA5-B193-193E59E5AD1B"] > div > div > div > video,
.mobileV div[data-id="06164199-E55D-482F-BB2F-B863BCC3A841"] > div > div > div > video,
.mobileV div[data-id="C437E680-3CC8-4F60-9E89-9E37B96CBFD6"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
