div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0D0EB34D-C791-4E09-82EF-7AEC8C89A93E"][data-specific-kind="TEXT"],
div[data-id="0E609F22-5778-43FF-9075-2CBD61B42D8F"][data-specific-kind="TEXT"],
div[data-id="1B50FC4B-B755-40E3-8E5E-466E71309D06"][data-specific-kind="TEXT"],
div[data-id="2F2575FC-13BF-41F9-8CBD-77CF52BBAFA7"][data-specific-kind="TEXT"],
div[data-id="4AAE2C7B-FFAB-4954-AD8D-9A58E9DB4A54"][data-specific-kind="TEXT"],
div[data-id="06BF16EF-FB3E-447A-A088-FF51B684DE92"][data-specific-kind="TEXT"],
div[data-id="6A301BDE-02CB-400C-AEEC-C5EE1D58DCAB"][data-specific-kind="TEXT"],
div[data-id="08DD3210-1A2D-4D3E-A0A7-8E67886C8992"][data-specific-kind="TEXT"],
div[data-id="09EEE1E8-0F99-403D-815C-1700511A4FD1"][data-specific-kind="TEXT"],
div[data-id="9AF625A0-4A59-446C-AF46-20DEB157C54C"][data-specific-kind="TEXT"],
div[data-id="15FBE19A-1477-4D6D-B9F6-5F91DE8D6533"][data-specific-kind="TEXT"],
div[data-id="93B27FEC-F0BE-4160-B364-182D300A8471"][data-specific-kind="TEXT"],
div[data-id="185FBC3D-06FB-4BC8-A3C1-6F357BA8F048"][data-specific-kind="TEXT"],
div[data-id="652BC507-35C1-432D-9A69-C06D665A611B"][data-specific-kind="TEXT"],
div[data-id="6011D2B0-AA83-4A2F-A02F-4BA28F6318A6"][data-specific-kind="TEXT"],
div[data-id="99011BE5-92C4-45AB-B074-18709A97372A"][data-specific-kind="TEXT"],
div[data-id="610167D3-3DE7-40F0-B3F2-041FD2B0DBB7"][data-specific-kind="TEXT"],
div[data-id="722784A0-A6CA-4E39-879F-E282E33CCFEB"][data-specific-kind="TEXT"],
div[data-id="53119828-F2CA-409B-8B25-1D9190D67448"][data-specific-kind="TEXT"],
div[data-id="89368786-6A30-409E-9067-1D479FE434BC"][data-specific-kind="TEXT"],
div[data-id="BD7D87E6-69C4-4C24-A471-411B96499E6F"][data-specific-kind="TEXT"],
div[data-id="C972CD69-512A-46A2-ABBE-CDA1AB3349DB"][data-specific-kind="TEXT"],
div[data-id="D61F3FD1-92BC-45D0-B211-904E79C40D9F"][data-specific-kind="TEXT"],
div[data-id="D56398E9-A040-4E21-A805-86E25C61C4B9"][data-specific-kind="TEXT"],
div[data-id="E9B66C9C-FC39-495E-968B-83804B1217D2"][data-specific-kind="TEXT"],
div[data-id="F72B2D0D-F46E-43A5-A790-60BD196AA1C6"][data-specific-kind="TEXT"],
div[data-id="F4876E91-A01A-466A-A29F-E4298C590FD8"][data-specific-kind="TEXT"],
div[data-id="FED3E180-B840-464C-9506-4C956E009F0D"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="532B7085-208B-4202-B56A-1EBA42354AE0"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="04DDA35B-85C3-4C8B-9D26-072513C81D4A"][data-specific-kind="TEXT"],
div[data-id="AC33241F-0D3A-463A-9E39-C5D63A70B880"][data-specific-kind="TEXT"],
div[data-id="CEB398C0-0C16-43B9-98D3-33E4BB0C3495"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C8090C04-26BC-476E-A057-71CAEF0348D1"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="C8090C04-26BC-476E-A057-71CAEF0348D1"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="49C7C8AF-2801-4D72-932B-443757C7CE62"][data-specific-kind="TEXT"],
div[data-id="4299C275-5B51-4FD0-BC9E-59389FD18136"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="063160C9-3876-4CF1-BF98-E50FE5A4F475"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="063160C9-3876-4CF1-BF98-E50FE5A4F475"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="547B1852-DC5D-437A-8B98-BE4909F7013B"][data-specific-kind="TEXT"],
div[data-id="BB443FA7-9F82-4020-8936-F3CA9731CC27"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="541F2BF4-82E9-4B4B-862F-37FD952BFF0F"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="541F2BF4-82E9-4B4B-862F-37FD952BFF0F"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="01B8F413-164F-4C93-AFBB-C2C26CECA550"][data-specific-kind="TEXT"],
div[data-id="EBA1C905-1C04-4D6A-9F2B-40A862AC2241"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="BE8D5B17-D88A-4FE0-BC69-C9E861CC19D3"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="BE8D5B17-D88A-4FE0-BC69-C9E861CC19D3"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="4F9A950B-552A-4918-84D8-FAA1ECEDC23F"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="4F9A950B-552A-4918-84D8-FAA1ECEDC23F"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="F279B4A2-0385-4CDF-B67F-FEA1F555A50A"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="FA0DC124-E574-4C2F-9E31-610784F2C2CD"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="1537B012-58C9-42F5-AB6D-227649C70086"] > div > div > div > video,
.mobileV div[data-id="FA0DC124-E574-4C2F-9E31-610784F2C2CD"] > div > div > div > video,
.mobileV div[data-id="FD7BE3D3-0C68-4768-ADCB-7358F5184C9D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
