div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="C4FF4703-A436-48AE-8CB3-FCF4FB19431D"][data-specific-kind="TEXT"],
div[data-id="C203B88C-5D88-48D9-BE46-9CCCD2FDA81B"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="724378C2-0B25-44B9-8DF7-7A1C250932A7"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="83628944-4BAB-43D2-9B6C-DE540A8BDDFF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="422CDCDA-11E7-4AE6-8AF8-015966ABE6A3"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="A9301DEB-2FD3-4688-8567-41312902B224"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="185FD2F4-83B8-4631-90ED-3A759C94D8E9"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="BB63AE88-C422-42AF-AA8D-B1456CDBFE1E"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="277DA687-FEFB-41A7-BAEB-4A3CC847A91D"] > div > div > div > video,
.mobileV div[data-id="B8C015CC-1CAE-432F-960C-8092947F3C24"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="09A55A6A-47E7-4ACF-8777-C22A7DCF5B68"][data-specific-kind="TEXT"],
div[data-id="9CEF84EF-E121-41FA-94D1-5ACAA3805B2C"][data-specific-kind="TEXT"],
div[data-id="E5220C5B-DA50-46C5-8C2C-9FA4A2C0EB1D"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="33B8F75C-D6F6-4D24-8883-673FC4E1914E"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="33B8F75C-D6F6-4D24-8883-673FC4E1914E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="C9CEAFCD-D796-42A4-908B-249AFAAB910D"][data-specific-kind="TEXT"],
div[data-id="CFA8FD80-FC45-4412-A710-8AF19AD9BA72"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="2150C052-BBD7-47E2-99BB-4F504824762B"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="2150C052-BBD7-47E2-99BB-4F504824762B"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="45241EBC-754E-484A-817E-EABAA8786A0F"][data-specific-kind="TEXT"],
div[data-id="C143A5CC-EA34-4642-BD34-F7166685CBBD"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="CC41D90D-5435-4E5C-B193-59D77544A36F"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="CC41D90D-5435-4E5C-B193-59D77544A36F"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="209A3803-4C0F-4C86-93BE-133EA901023D"][data-specific-kind="TEXT"],
div[data-id="760DF0F2-6322-4FB5-AEFE-E2F976C9392F"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="FA263166-6F3D-464E-A619-9B71B673172C"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="FA263166-6F3D-464E-A619-9B71B673172C"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="35731C22-FFDE-464D-B8C4-300E8AC265D9"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="35731C22-FFDE-464D-B8C4-300E8AC265D9"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="CBE92538-0052-44A8-A978-6C4612B027DF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="2841F322-677E-47E4-B29F-FB85E1EC5560"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="2DD5A0A4-4B76-4812-BC6B-EE70FDB4E903"] > div > div > div > video,
.mobileV div[data-id="9FCDA399-0D01-4C56-B6DD-4F2498F2B0F2"] > div > div > div > video,
.mobileV div[data-id="2841F322-677E-47E4-B29F-FB85E1EC5560"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
