div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="144584CD-9D1B-411A-BAA1-71F2886D9361"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="10A3E953-851F-45EA-8B10-FCB5F9422EEF"][data-specific-kind="TEXT"],
div[data-id="BD3400A0-0E42-40C2-B8F3-E6D8D701BD30"][data-specific-kind="TEXT"],
div[data-id="E5DE56CF-E83B-4EDD-816B-39721B866C4A"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="772ADBB9-F776-4D31-8CEC-C1BE32D66D9C"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="772ADBB9-F776-4D31-8CEC-C1BE32D66D9C"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3AF83CEF-136B-451F-B51A-0859320BB60F"][data-specific-kind="TEXT"],
div[data-id="BDD1FFF5-AC35-4E47-A140-C92D341319A5"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="7261B840-F0AF-4BAF-8865-9B23B0837FDC"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="7261B840-F0AF-4BAF-8865-9B23B0837FDC"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="E717902B-4C2F-4C30-8528-ACC25D873253"][data-specific-kind="TEXT"],
div[data-id="F3574EEE-C976-46A5-A19A-32A36CC59C84"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="66EB31D4-9E03-416B-8698-52FA63DB5EB7"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="66EB31D4-9E03-416B-8698-52FA63DB5EB7"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="BF8FD5C3-3866-47E9-9A2C-DAAA8F4976DE"][data-specific-kind="TEXT"],
div[data-id="F13B05C5-CF1E-4FB7-B603-5542E70C33FC"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="8C0CD89D-17D1-4D3A-B405-34BE70A53D82"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="8C0CD89D-17D1-4D3A-B405-34BE70A53D82"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="41DD7A51-40C6-4019-8F8A-29D0CE2D8E6D"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="41DD7A51-40C6-4019-8F8A-29D0CE2D8E6D"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="B38C598A-AD52-476D-A844-D993F1355E45"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="49C2C85C-5DE7-4161-8813-C1A791EE6913"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="5AC426F7-7FF5-473D-8BF5-1F2E48B9282C"] > div > div > div > video,
.mobileV div[data-id="8CA5445B-FB4C-4170-94EB-F6910D0EDC99"] > div > div > div > video,
.mobileV div[data-id="49C2C85C-5DE7-4161-8813-C1A791EE6913"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
