div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3DA8AFEB-1A3B-405C-9518-085B4FC861BC"][data-specific-kind="TEXT"],
div[data-id="38BE7AA8-FC38-4880-A70D-3D6643B6AD5B"][data-specific-kind="TEXT"] {
  margin: auto;
}
.contactFormContainer .contactFormResponseStatus,
.contactFormContainer .oneWebCntForm {
  font-family: Roboto;
  font-size: 14px;
  color: #000;
}
.contactFormContainer .frc-container .frc-icon {
  fill: #000;
  stroke: #000;
}
.contactFormContainer .frc-banner a,
.contactFormContainer .frc-container .frc-content .frc-button {
  color: #000;
}
div[data-id="C6B6E577-E471-4482-BB5B-CB5CC13C7335"][data-specific-kind="TEXT"],
div[data-id="D0F6E091-5841-4B0D-9FFB-F7BAD1FFDD1B"][data-specific-kind="TEXT"],
div[data-id="D31C24C8-7FED-433B-B3C0-9650BCE399C5"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5D0588B6-16CE-413C-9F5A-CD6FD3B587DB"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="6EC5D895-729D-4B07-BC61-2E6AB187A388"][data-specific-kind="TEXT"],
div[data-id="363D6EB5-F938-4CFB-8584-2327D8976FFA"][data-specific-kind="TEXT"],
div[data-id="B3660FD5-1DE7-461E-B9B9-7CBC326D07C4"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="18306FEC-85D8-439D-A245-EDB62B11E392"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="18306FEC-85D8-439D-A245-EDB62B11E392"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="9DBF45E5-95FB-4098-A9BA-0E84814F8BDD"][data-specific-kind="TEXT"],
div[data-id="53BD6EDC-A2AE-40AF-BF04-EFFA0C878627"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C2DA0D45-8E77-45C7-AB72-6418418EFFB8"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="C2DA0D45-8E77-45C7-AB72-6418418EFFB8"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="031C18BB-807C-4A5F-9883-5CC349A88B22"][data-specific-kind="TEXT"],
div[data-id="60A733C2-73E4-4D19-8E84-065ED3CF9EA2"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C9A410A3-90DE-41B4-BD0D-CFB8EB2652E9"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="C9A410A3-90DE-41B4-BD0D-CFB8EB2652E9"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="2348DCDB-21DC-48FF-90BE-F30049EEDD35"][data-specific-kind="TEXT"],
div[data-id="95698AF5-6C64-4242-BB38-7A3B6C219F54"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="74CC2A45-2BAF-4CF8-9DD0-C1D1A80AC2D2"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="74CC2A45-2BAF-4CF8-9DD0-C1D1A80AC2D2"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="DD349006-CFD3-4F81-A4AD-35A49D400A0F"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="DD349006-CFD3-4F81-A4AD-35A49D400A0F"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="1FC8D21B-3C06-4BA2-981F-DDAF0B2CE242"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="0C9745E1-3629-4C84-8B90-2E8585975F85"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="0C9745E1-3629-4C84-8B90-2E8585975F85"] > div > div > div > video,
.mobileV div[data-id="3FA141D5-F579-48C8-B6A8-45A225574DE5"] > div > div > div > video,
.mobileV div[data-id="8AF6A013-2102-402D-9A87-2CED1CBF83B0"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
