div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="7AEAF3A2-B5DF-4C1E-9B79-0610E0CDEE8B"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="9ED51278-9B47-48A1-9284-F6A2FE1AD33D"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="6A836E71-C448-44B6-AD38-008A629CF800"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="96428CB8-2A54-4AC1-A79D-3FC66BFA2639"] > div > div > div > video,
.mobileV div[data-id="E33EEA7E-ED20-47DE-BAE0-4CF65D6876DC"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="1C753D1B-CB67-44B2-A6B0-917292743C24"][data-specific-kind="TEXT"],
div[data-id="00153F19-6B2D-4BC3-B61A-7D11C15FB5C0"][data-specific-kind="TEXT"],
div[data-id="FBA7E41F-2767-4753-A3E4-A00F9791A553"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="1CFC0A32-5B70-4B06-AA25-E16A26EA22D2"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="1CFC0A32-5B70-4B06-AA25-E16A26EA22D2"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3A0E00B7-CA6A-4612-873E-A6E3D42F3333"][data-specific-kind="TEXT"],
div[data-id="3667AF64-7C70-4B87-B6AA-7D51101F13B8"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5941C0A6-788D-4E97-B362-3007D09A4FAB"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="5941C0A6-788D-4E97-B362-3007D09A4FAB"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3B59DB83-DC56-48F8-8E59-2D4B6B50C38B"][data-specific-kind="TEXT"],
div[data-id="772E27F6-78AC-4A5D-B82F-DE8300A4B12E"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6E5F80EC-D590-4755-A1C8-3225015D2282"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="6E5F80EC-D590-4755-A1C8-3225015D2282"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="19335548-1783-4DB6-B335-C61808DCD436"][data-specific-kind="TEXT"],
div[data-id="D557644F-1CBF-403B-9764-F19E31D03E5B"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="72CFA876-94DD-4F11-9032-4D88AE8E43A2"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="72CFA876-94DD-4F11-9032-4D88AE8E43A2"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="6E2C8337-AEC5-4B32-A7CA-A410C7F42194"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="6E2C8337-AEC5-4B32-A7CA-A410C7F42194"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="9CA3D4B7-E765-43E8-86DC-D3E6E5EE8CBB"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C01BF6EA-4FB8-47D0-B68B-A245C7976900"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="299ADC73-4E09-4807-AD8A-C775E58703DD"] > div > div > div > video,
.mobileV div[data-id="5349C879-6267-4A59-87B3-239D156DC140"] > div > div > div > video,
.mobileV div[data-id="C01BF6EA-4FB8-47D0-B68B-A245C7976900"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
