div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="126E7578-825F-40C3-A5AB-714514D3DCBF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="CE73D900-0E48-455C-BF1E-B8F8C6543132"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="825756B5-3B1C-4FA2-9C47-6FF1DAB22944"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C6044ADF-8CC9-4B63-BA89-3E71BB60C748"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="8F9953F3-92BC-4489-A966-E02F647C3EB3"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="DB96F2B6-8469-417D-9E6F-C264A0173CD5"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="56E922FF-5A94-4E96-8F35-30054F8FF811"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="1D86D49D-28A7-46A6-BA67-63114FB034C4"] > div > div > div > video,
.mobileV div[data-id="2F66A54A-36D7-4B11-B8EF-0B5729EEB58F"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="6EE6117E-D595-4D6C-B777-55880C838C05"][data-specific-kind="TEXT"],
div[data-id="267DB8CB-A357-4934-8655-6829C6FF9368"][data-specific-kind="TEXT"],
div[data-id="982C9F46-7D4E-467A-A2A7-64C56040911E"][data-specific-kind="TEXT"],
div[data-id="F382FD54-0A68-4F05-8BA2-73C56E34A8FE"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="A4E0D84E-A41A-41FC-A361-9463E3FE8085"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="A4E0D84E-A41A-41FC-A361-9463E3FE8085"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="D0289724-1B23-4EFD-8C0C-67626F280874"][data-specific-kind="TEXT"],
div[data-id="F8B50716-11EF-454E-8FC8-FEA86023ECDF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="244C6897-D4FD-41AC-A3C4-BB4589596AC5"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="244C6897-D4FD-41AC-A3C4-BB4589596AC5"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="1AA6276C-ABFF-4588-A45E-C73A7FD61134"][data-specific-kind="TEXT"],
div[data-id="426F8C3B-E9B7-45CD-AD95-7DD9ACC3E7AD"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="1E2D877A-7F6F-4FBD-A683-9F102CAA5B9E"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="1E2D877A-7F6F-4FBD-A683-9F102CAA5B9E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="2BD774EC-9519-4A7C-B783-6754107F857C"][data-specific-kind="TEXT"],
div[data-id="7900408C-54F8-48F9-B095-057BC38A2D6D"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="42D20EE4-C7F4-414F-9581-74CBF3EC8183"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="42D20EE4-C7F4-414F-9581-74CBF3EC8183"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="BA019470-90B2-4390-A5C2-14F5FE5B1207"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="BA019470-90B2-4390-A5C2-14F5FE5B1207"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="BA0F4C8A-DB18-49B6-AA29-F58D8B1E3B2A"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="F6889F50-7B72-4EB3-BD53-A911FE2E584C"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="A0796062-FCB0-4BB5-BAC2-E6833D4C9BE1"] > div > div > div > video,
.mobileV div[data-id="BECFD0B6-281B-4EF7-AD8D-2BA24367217B"] > div > div > div > video,
.mobileV div[data-id="F6889F50-7B72-4EB3-BD53-A911FE2E584C"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
