div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="868626FB-4F6D-4E1E-8B94-BE9BFF2AC97B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="2C19E337-9235-41B6-8D57-E58A03B1E8EB"][data-specific-kind="TEXT"],
div[data-id="8ACD8979-8FD8-4E88-B5BB-14BF09E74DAD"][data-specific-kind="TEXT"],
div[data-id="9F90535B-2A62-42EB-99DF-943B698ECDF7"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="19FBD37F-3DEF-4FC0-B60D-69F804AED3E0"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="19FBD37F-3DEF-4FC0-B60D-69F804AED3E0"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="04ACC280-3E3C-4619-B923-A140DC2E64E1"][data-specific-kind="TEXT"],
div[data-id="498161B6-122B-4D4C-81BF-052B36A0B02E"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="69138CD8-4F49-4870-8B60-BED30FC24E9C"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="69138CD8-4F49-4870-8B60-BED30FC24E9C"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="8B151BCD-E697-4B35-B8F4-6220699FFB73"][data-specific-kind="TEXT"],
div[data-id="854712E2-3CB9-4AEA-B580-B4F15B2B3B5A"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="C38CB1C3-6787-4036-9DD2-63F593AAC27B"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="C38CB1C3-6787-4036-9DD2-63F593AAC27B"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="4177D1D9-4BB4-4083-A345-1C0AAA4447AF"][data-specific-kind="TEXT"],
div[data-id="C8468547-CB5B-4807-B7A5-BBCC1965DFB6"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="A8A5FC9E-315A-445A-8E21-8F3A3DA07484"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="A8A5FC9E-315A-445A-8E21-8F3A3DA07484"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="B6F6F01A-74E1-4B17-BC32-45FBC30A7BD6"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="B6F6F01A-74E1-4B17-BC32-45FBC30A7BD6"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="64AEA7D0-E133-4CC9-8979-0DFF42E496CF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5EDC8EFA-2468-422C-8AEB-D4714C7DA78C"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="5EDC8EFA-2468-422C-8AEB-D4714C7DA78C"] > div > div > div > video,
.mobileV div[data-id="87556E39-12FC-4EC2-9915-F1472B50524C"] > div > div > div > video,
.mobileV div[data-id="C8471255-5E7A-45DA-96FF-A2DF09A6DAB5"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
