div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0CE46D2A-3717-4597-980F-30FEE944520E"][data-specific-kind="TEXT"],
div[data-id="1DB6AAC3-D295-4B47-AFB3-6460BB78148F"][data-specific-kind="TEXT"],
div[data-id="4AA68A9A-D4B2-4E2F-AEB1-4BF851AA7498"][data-specific-kind="TEXT"],
div[data-id="4C62601E-CB94-43A3-9F7D-79DC3C5B483C"][data-specific-kind="TEXT"],
div[data-id="6B1D798F-9FBE-44EE-BCD5-DD58A7B93C26"][data-specific-kind="TEXT"],
div[data-id="16C89B0A-8A13-4CFC-9C4E-92449404CCC3"][data-specific-kind="TEXT"],
div[data-id="34B14BF7-1969-4506-88A5-765B2DA2BC94"][data-specific-kind="TEXT"],
div[data-id="67A4C66E-875A-4E5C-9588-F7B86BFC5BAE"][data-specific-kind="TEXT"],
div[data-id="485E6DFD-9E97-4B51-95E7-03B875D3929B"][data-specific-kind="TEXT"],
div[data-id="646B7ED7-FA88-4EF5-A3D0-92FFC6F2BEFA"][data-specific-kind="TEXT"],
div[data-id="2279B700-A196-4782-B642-4789D74B4B86"][data-specific-kind="TEXT"],
div[data-id="3509CD44-EA0D-400C-9D1C-63D82FF930BB"][data-specific-kind="TEXT"],
div[data-id="33637FAA-607C-49A0-A112-6D952825CCAF"][data-specific-kind="TEXT"],
div[data-id="A2508DE2-CEAF-4DE4-95E6-ED2A76D47B00"][data-specific-kind="TEXT"],
div[data-id="BB9F0E3D-2453-4BD9-AF55-737F3A67E561"][data-specific-kind="TEXT"],
div[data-id="BCDF8E51-1311-4517-9F86-795559500ECD"][data-specific-kind="TEXT"],
div[data-id="C6E52E8E-DE76-48BC-93D0-6CFE06AEC205"][data-specific-kind="TEXT"],
div[data-id="C96F0D73-115B-4944-AD84-2715EE5AF220"][data-specific-kind="TEXT"],
div[data-id="D3A6345B-9B34-4B1B-8E13-DCF5695DA195"][data-specific-kind="TEXT"],
div[data-id="DF477BEB-CC37-4D82-A099-34DE742D73E9"][data-specific-kind="TEXT"],
div[data-id="E62AAC17-B006-4BE4-B14E-72668840C227"][data-specific-kind="TEXT"],
div[data-id="EA26BF96-6075-479E-B501-8AEFAC2F9F76"][data-specific-kind="TEXT"],
div[data-id="F12FC08A-1F29-48D8-B0DC-D15ED699A27B"][data-specific-kind="TEXT"],
div[data-id="FB8DA7D6-2AD9-4D81-8589-DB7DCADC6997"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5032132A-7213-48EF-9938-15E3F96F2A4E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="3BEA185E-203F-4C27-9B40-0E5B1CC69AB0"][data-specific-kind="TEXT"],
div[data-id="43291BB8-61E0-407B-B1A2-CAFC2CA931D8"][data-specific-kind="TEXT"],
div[data-id="44532E88-4828-4507-970F-774750DAB9DD"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="66F87946-C613-4D7C-92BF-CFE9DC85B723"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="66F87946-C613-4D7C-92BF-CFE9DC85B723"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="D186EC2A-3069-4DDC-8DED-EC1CEE472D57"][data-specific-kind="TEXT"],
div[data-id="ECF27959-DAC6-47C1-B4D3-5318E732128F"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="8BED6D11-724C-4DE5-8C8F-B0837525249C"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="8BED6D11-724C-4DE5-8C8F-B0837525249C"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="C94D9A9D-6EE0-467A-9141-45C5E0FB93A1"][data-specific-kind="TEXT"],
div[data-id="E422FDD8-A6B1-4C56-A679-410C9D08CC9D"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="D821B08F-D484-4417-A9E4-16C36AC31C62"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="D821B08F-D484-4417-A9E4-16C36AC31C62"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0E57D554-327B-4EE8-AFF4-A1618348EEAA"][data-specific-kind="TEXT"],
div[data-id="D5DC1837-C381-41CA-91D0-28788307E803"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="60A13111-ABB2-4D7B-964B-49568300290E"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="60A13111-ABB2-4D7B-964B-49568300290E"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="060895D5-AD90-4D5A-BCC0-090953DB260C"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="060895D5-AD90-4D5A-BCC0-090953DB260C"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="89BDA6F4-F0F4-4E64-A5F6-4B89388BBAC6"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="9A6F2DCE-760E-4BDD-8442-97AA80B81EA2"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="9A6F2DCE-760E-4BDD-8442-97AA80B81EA2"] > div > div > div > video,
.mobileV div[data-id="C6432C62-6006-4B6D-983C-45DD84FBEB5C"] > div > div > div > video,
.mobileV div[data-id="DA85F3FC-02F9-49AB-8DBD-7E60771C8779"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
