div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="6FA3AA22-EC66-4EB3-B8CE-B686348EC08F"][data-specific-kind="TEXT"],
div[data-id="8A9E8A18-A5F4-4953-B5A4-0655662E6779"][data-specific-kind="TEXT"],
div[data-id="9DFA5566-3A9B-4A92-AC53-A34D97806744"][data-specific-kind="TEXT"],
div[data-id="9E3D4B5C-EA2D-4FF7-9E7A-9656AE191C33"][data-specific-kind="TEXT"],
div[data-id="034CD8F1-9324-4E49-87C3-EE6E3A00C63B"][data-specific-kind="TEXT"],
div[data-id="035A7B38-9E6C-4E14-B498-81A55D9C17CC"][data-specific-kind="TEXT"],
div[data-id="41D19635-6778-4D7E-B5E3-89891E2EB4B4"][data-specific-kind="TEXT"],
div[data-id="50C2CB6C-B56B-45E4-842C-D1CA8DF0C19E"][data-specific-kind="TEXT"],
div[data-id="52B07148-3AB2-48E3-ADFE-A1D3DC8D0F7C"][data-specific-kind="TEXT"],
div[data-id="72FEC548-B5F3-41CB-B9F3-3110A2723212"][data-specific-kind="TEXT"],
div[data-id="75BDB58E-25F6-4F3A-808D-A0D2142AB011"][data-specific-kind="TEXT"],
div[data-id="342E37D2-D433-4C07-8079-EEC2EC8F6BEE"][data-specific-kind="TEXT"],
div[data-id="5326D570-C938-4670-BD99-536532E0B854"][data-specific-kind="TEXT"],
div[data-id="21787A82-5FCA-4666-8765-437DED5EE6DA"][data-specific-kind="TEXT"],
div[data-id="90154D43-C3D8-47B2-9205-FFF50755782E"][data-specific-kind="TEXT"],
div[data-id="618651F6-6082-4955-9CBA-1DD35916D9AA"][data-specific-kind="TEXT"],
div[data-id="9316123D-10D6-400C-979A-E5DAEE023CF6"][data-specific-kind="TEXT"],
div[data-id="BBFC7BDF-F7CA-4CB1-8673-2247E4276343"][data-specific-kind="TEXT"],
div[data-id="BE7E4C7E-0983-4B3A-8258-D2F67DE0CF61"][data-specific-kind="TEXT"],
div[data-id="CA9687C2-817C-4C93-9DFA-E228D91E5383"][data-specific-kind="TEXT"],
div[data-id="CF865371-8B10-451A-B46F-01E384C468D3"][data-specific-kind="TEXT"],
div[data-id="D4CC97EB-7DD6-44EA-AC82-E3B264898D26"][data-specific-kind="TEXT"],
div[data-id="D1048618-8521-4236-BB71-54485122F448"][data-specific-kind="TEXT"],
div[data-id="E9BB364E-104E-494F-AA22-7281024F081E"][data-specific-kind="TEXT"],
div[data-id="E824D322-7296-488E-BB3E-01014E4984DB"][data-specific-kind="TEXT"],
div[data-id="EC1488FC-FCDF-45A4-AE43-A5F850ADDE27"][data-specific-kind="TEXT"],
div[data-id="ED9BADD7-A43E-4C4C-B63D-360362FDD66C"][data-specific-kind="TEXT"],
div[data-id="F5D5A2CC-42ED-4050-8EBA-CB3D87A32DF8"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="A9A8F79C-2E2B-4C25-8836-30AFCED3AB44"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0AEA3C18-99CE-492F-BC6D-E91685F477C8"][data-specific-kind="TEXT"],
div[data-id="0FAABD87-03A2-450E-82E5-D06F91A58F04"][data-specific-kind="TEXT"],
div[data-id="01B7A02D-9F6F-40B8-AAB5-E5EF4460D4AD"][data-specific-kind="TEXT"],
div[data-id="02EE4304-7DCC-4AE7-A8B1-44C7CFA33DBD"][data-specific-kind="TEXT"],
div[data-id="3CADD68C-6B19-4FEB-8F5C-5771F1D73B9A"][data-specific-kind="TEXT"],
div[data-id="3DD1B421-2B9B-4206-A429-6E7C302A56C8"][data-specific-kind="TEXT"],
div[data-id="4AC33BFE-7F02-4080-A1CE-54FEF5A78047"][data-specific-kind="TEXT"],
div[data-id="8A359A9B-1CB3-4CA3-A16C-98AE08516350"][data-specific-kind="TEXT"],
div[data-id="15B11945-C2F9-40E5-9C33-AE7A57367CB6"][data-specific-kind="TEXT"],
div[data-id="39C7A6F1-B579-4F44-8A08-E2E42736DED5"][data-specific-kind="TEXT"],
div[data-id="44DEB7C8-C31C-4152-913F-E1BE501F721E"][data-specific-kind="TEXT"],
div[data-id="61B117DC-6C8B-42E0-B6E7-7D6155FE7370"][data-specific-kind="TEXT"],
div[data-id="562D5669-AEB4-4CD3-B193-4CE6B3CB606D"][data-specific-kind="TEXT"],
div[data-id="743EAB6B-A447-4499-8BCD-B1FA046202DC"][data-specific-kind="TEXT"],
div[data-id="23417D40-749D-405E-B068-7A8F8857633E"][data-specific-kind="TEXT"],
div[data-id="401727F2-5CBF-477C-A5F5-9431CA744CFC"][data-specific-kind="TEXT"],
div[data-id="0413054B-F4EE-4C78-86DD-EA60BF085028"][data-specific-kind="TEXT"],
div[data-id="ADBA95C3-368C-4F39-A6BD-AC7D23BE167B"][data-specific-kind="TEXT"],
div[data-id="AE2315DD-DC6F-4D83-A8F9-A991B425B204"][data-specific-kind="TEXT"],
div[data-id="B56BFEB3-76B5-489D-A7C2-C474EDDE6C7A"][data-specific-kind="TEXT"],
div[data-id="C6EEDF80-7DA1-4B24-8AFD-69E43B2CDD49"][data-specific-kind="TEXT"],
div[data-id="CF38BC0E-BAB0-4D57-8368-B6F3A7794CF2"][data-specific-kind="TEXT"],
div[data-id="D5596A5B-48E4-48DF-AF7A-BD01734FEF71"][data-specific-kind="TEXT"],
div[data-id="E92D064F-BA6F-40B5-A414-F928D5CA7E84"][data-specific-kind="TEXT"],
div[data-id="E337B77C-9692-4B58-8338-3B227FD00725"][data-specific-kind="TEXT"],
div[data-id="F6F7E250-ED4F-4D3B-9161-2C7922A8A404"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="1F26A499-54AD-4BB0-81CD-7BEA9A38AA0E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0FC94A0C-3AF5-4252-9378-DE6698AA3CED"][data-specific-kind="TEXT"],
div[data-id="7C0CA6B3-B2D0-491B-84C6-4E1C698DDAB8"][data-specific-kind="TEXT"],
div[data-id="D12183BF-2885-4AF5-A573-8E783751F576"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="5D7B51CA-E32E-43A7-A107-3C0691CB4989"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="5D7B51CA-E32E-43A7-A107-3C0691CB4989"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="133D34A3-0D03-4166-B3CD-D42E51FCCC80"][data-specific-kind="TEXT"],
div[data-id="DAE27BEB-764E-402B-8ED0-586828639EDA"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="01975885-3A7A-4793-A19A-15206F6AE8FA"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="01975885-3A7A-4793-A19A-15206F6AE8FA"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="60451C43-1ED7-46D1-B527-ED6F210C1744"][data-specific-kind="TEXT"],
div[data-id="DC7174DD-5584-447B-9553-001AFD83B10B"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="25BB0A0D-A549-4372-973D-FF7C225E44AA"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="25BB0A0D-A549-4372-973D-FF7C225E44AA"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="1DA23090-8E29-4A4F-BC66-B820AC50CE33"][data-specific-kind="TEXT"],
div[data-id="313BA6CF-BDB6-4DF8-B5E9-27AE1455948E"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="AD7B8C3D-F44B-4593-B180-C3A8E418E67E"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="AD7B8C3D-F44B-4593-B180-C3A8E418E67E"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="333F1DCB-EC5D-44B0-86FE-BA3EA14EF16C"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="333F1DCB-EC5D-44B0-86FE-BA3EA14EF16C"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="74620B7F-B1A1-4CBB-8824-335E45E78AB9"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="6F9D00BE-9D0F-4282-B5B1-871A224892B4"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="6F9D00BE-9D0F-4282-B5B1-871A224892B4"] > div > div > div > video,
.mobileV div[data-id="EA76D19F-3C4F-47C7-97FF-04D8FC59DEF1"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="1F4CCB4C-85C2-4EE0-BE26-DDF06C090152"][data-specific-kind="TEXT"],
div[data-id="3A8EA06F-8E1F-40CF-BB3A-6EA023075F90"][data-specific-kind="TEXT"],
div[data-id="3BD3D119-E8DD-4AEE-8E05-1C22407C82D6"][data-specific-kind="TEXT"],
div[data-id="3EFE3AC5-360E-41B0-A8DD-E7B5529C98E0"][data-specific-kind="TEXT"],
div[data-id="4D0AE526-914B-4B90-B97F-644F3CA87A8D"][data-specific-kind="TEXT"],
div[data-id="5D667762-05FA-47D2-B570-4338BD305B0A"][data-specific-kind="TEXT"],
div[data-id="6C17B02E-55EF-478F-B1A4-78B2E3B24E9B"][data-specific-kind="TEXT"],
div[data-id="31FFD53B-90FB-4CE7-972A-115950E0BB4E"][data-specific-kind="TEXT"],
div[data-id="62A4672B-F754-4F4D-9CCE-52D7C4DEEA45"][data-specific-kind="TEXT"],
div[data-id="486FED0C-2388-4454-961E-6FF75DD806E2"][data-specific-kind="TEXT"],
div[data-id="721F0717-85F0-4E4A-95A2-D3D8D6C50BC3"][data-specific-kind="TEXT"],
div[data-id="70301CE6-2F45-479F-BF9C-365459DBDE2B"][data-specific-kind="TEXT"],
div[data-id="78815AB3-B0FC-4DF0-954F-63C375ED9D89"][data-specific-kind="TEXT"],
div[data-id="78884CDB-312C-43D0-90A9-14B5EED5E07C"][data-specific-kind="TEXT"],
div[data-id="92489EBC-C22E-4C15-B067-8878521B8B9E"][data-specific-kind="TEXT"],
div[data-id="70966258-B5D9-4675-9F80-6D3A1FCAC690"][data-specific-kind="TEXT"],
div[data-id="A8B7197A-859E-402B-A9DC-BEE94F133A88"][data-specific-kind="TEXT"],
div[data-id="A9A19FFF-37AD-46A3-81D4-D21173F9254B"][data-specific-kind="TEXT"],
div[data-id="E1FE8006-C5DE-44BA-999C-A277F8A9DD58"][data-specific-kind="TEXT"],
div[data-id="E4ADFF51-ADFE-4B2D-B725-99DF776C5E28"][data-specific-kind="TEXT"],
div[data-id="F26BC313-639F-430F-9E99-6C7741335B54"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="7FD3D2CF-7279-43E1-A591-27B01E4E3739"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
