div[data-id="21121485-0228-4165-A833-9CE4592EB724"][data-specific-kind="TEXT"],
div[data-id="C9388B55-D78B-4821-819F-819FC9F5B164"][data-specific-kind="TEXT"] {
  margin: auto;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"] .modernLayoutMenu ul li a.level-0:hover {
  color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.dropdown ul {
  background-color: #2f2f2f !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a:hover {
  font-weight: 700 !important;
}
div[data-id="08853971-B27F-4C3E-80AE-02F36415F418"].modernLayoutMenu.jsdropdown ul li a {
  color: #fff !important;
}
.mobileV div[data-id="645DCD7A-E1DC-4DD8-ABF9-EF8E21C6A04B"] > div > div > div > video,
.mobileV div[data-id="27752F19-1C47-450D-8212-38661EDAE80E"] > div > div > div > video,
.mobileV div[data-id="D3DA77C2-B7ED-4AF4-BA0A-26DC8AC83C3F"] > div > div > div > video,
.mobileV div[data-id="EF4D0BDF-F200-4C15-B5C5-F17F1B079508"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="0D1C8F6F-F52A-4EFB-A8CC-62C61EC8DAA7"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="B627D03E-667A-4949-8FCE-DE69A4EC0AEB"] > div:first-child {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="B627D03E-667A-4949-8FCE-DE69A4EC0AEB"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="59B22243-13DC-423D-8218-04B70D5F6205"][data-specific-kind="TEXT"],
div[data-id="FAA89D46-09F9-4094-B94A-FE2F74DB4DF6"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="BADE2D8F-485E-4B7C-8F2D-A43CE789BD33"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="BADE2D8F-485E-4B7C-8F2D-A43CE789BD33"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="86F1136D-71D0-4228-B76A-6FD2D8EA6CFA"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="86F1136D-71D0-4228-B76A-6FD2D8EA6CFA"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="CA568E24-C78B-4D07-BF32-F385CB0663B3"] > div:first-child {
  border-bottom-width: 1px !important;
}
.mobileV div[data-id="CA568E24-C78B-4D07-BF32-F385CB0663B3"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="76C679B9-381E-4757-B7DC-2ECBF5EF821E"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="76C679B9-381E-4757-B7DC-2ECBF5EF821E"] > div > div > div > video {
  opacity: 1 !important;
}
div[data-id="593BFE86-BC08-4A09-8589-DA213676B1CF"][data-specific-kind="TEXT"] {
  margin: auto;
}
.mobileV div[data-id="66E0285D-B94C-4CB2-965F-2C2100570FFC"] > div:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="66E0285D-B94C-4CB2-965F-2C2100570FFC"] > div > div > div > video,
.mobileV div[data-id="425E75A8-1EA5-42A5-86E4-4C7254F220C7"] > div > div > div > video,
.mobileV div[data-id="8505B714-C52F-4897-AC01-84E001EFC779"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div:first-child {
  border-top-width: 1px !important;
}
.mobileV div[data-id="AAFA402C-6A26-405E-903A-D32BBA1DDD1D"] > div > div > div > video {
  opacity: 1 !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div:first-child {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.mobileV div[data-id="24190629-DA5D-48F8-A547-1894CA40D11E"] > div > div > div > video,
.mobileV div[data-id="B7B71D67-9A55-4AFC-AE1E-AACD7248C825"] > div > div > div > video {
  opacity: 1 !important;
}
